.filter {
	ul {
	  margin: 0;
	  padding: 0;
	  li {
		position: relative;
		display: inline-block;
		border: 1px dashed black;
		border-radius: 2em;
		margin: 0 7px 10px 0;
		padding: 0.5em 1em;
		font-size: 0.9em;
		font-family: $font-family-mono;
		color: black;
		cursor: pointer;
		transition: linear 0.1s;
		&.active {
		  background: black;
		  color: white;
		}
		&:hover {
		  background: black;
		  color: white;
		}
	  }
	}
  }
  
  .theme-dark {
	.filter {
	  ul {
		li {
		  border-color: white;
		  color: white;
		  &:hover, &.active {
			background: white;
			color: black;
		  }
		}
	  }
	}
  }
  
  .portfolio-grid {
	display: flex;
	flex-wrap: wrap;
  
	/* Hide all categories except category-1 (Logo) by default */
	.col-md-6 {
	  display: none;
	  &.category-1 {
		display: block;
	  }
	}
  
	.col-md-6 img {
	  width: 100%;
	  height: auto;
	  display: block;
	}
  }
  // Media Queries for responsiveness
  @media (max-width: 768px) {
	.col-md-6 {
	  flex: 0 0 100%;
	  max-width: 100%;
	}
  }
  
  